
.share-tech-regular {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.center 
{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

body 
{
    font-family: "Share Tech", sans-serif;
    text-align: center;
    background-color: #1c261a;
}

h1 
{
    text-align: left;
    padding-left: 25%;
    color: #ababab;
    font-size: 72px;
}

h3 
{
    text-align: left;
    padding-left: 25%;
    color: #ababab;
}

p 
{
    text-align: center;
    color: #ababab;
    padding-left: 25%;
    padding-right: 25%;
}

/* Style the tab */
.tab 
{
    width: 50%;
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #ababab;
    margin-left: auto;
    margin-right: auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    font-family: "Share Tech", sans-serif;
    background-color: #ababab;
    float: left;
    border: none;
    outline: 2px solid #ccc;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 33.333%;
}

/* Change background color of buttons on hover */
.tab button:hover 
{
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active 
{
    background-color: #1ba7d1;
}

/* Style the tab content */
.tabcontent 
{
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
    transition: 0.3s;
}

/* Style the tab */
.subTab {
    width: 50%;
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #ababab;
    margin-left: auto;
    margin-right: auto;
}

/* Style the buttons that are used to open the tab content */
.subTab button {
    font-family: "Share Tech", sans-serif;
    background-color: #ababab;
    float: left;
    border: none;
    outline: 2px solid #ccc;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 25%;
}

/* Change background color of buttons on hover */
.subTab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.subTab button.active {
    background-color: #1ba7d1;
}

/* Style the tab content */
.subTabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
    transition: 0.3s;
}

video
{
    border: 2px solid #ccc;
    width: 50%;
    height: auto;
}
