
.share-tech-regular {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.center 
{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

body {
    font-family: "Share Tech", sans-serif;
    text-align: center;
    /* */
    background: url('sideBanner.jpg') center;
    background-repeat: repeat-y repeat-x;
    /* background-image: url("sideBanner.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;*/
}

h1 
{
    text-align: left;
    padding-left: 12.5%;
    color: #ababab;
    font-size: 72px;
}

h2 {
    text-align: center;
    color: #ababab;
    font-size: 36px;
}


h3 
{
    text-align: left;
    padding-left: 12.5%;
    color: #ababab;
}

p 
{
    text-align: center;
    color: #ababab;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

/* Style the tab */
.tab 
{
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #ababab;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    font-family: "Share Tech", sans-serif;
    background-color: #ababab;
    float: left;
    border: none;
    outline: 2px solid #ccc;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 33.333%;
}

/* Change background color of buttons on hover */
.tab button:hover 
{
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active 
{
    background-color: #1ba7d1;
}

/* Style the tab content */
.tabcontent 
{
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
    transition: 0.3s;
}

/* Style the tab */
.subTab {
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #ababab;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Style the buttons that are used to open the tab content */
.subTab button {
    font-family: "Share Tech", sans-serif;
    background-color: #ababab;
    float: left;
    border: none;
    outline: 2px solid #ccc;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 25%;
}

/* Change background color of buttons on hover */
.subTab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.subTab button.active {
    background-color: #1ba7d1;
}

/* Style the tab content */
.subTabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
    transition: 0.3s;
}


/* contact me form stuff */
.textField {
    font-family: "Share Tech", sans-serif;
    height: 36px;
    width: 66.666%;
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #ababab;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 12px;
}

.messageTextField {
    font-family: "Share Tech", sans-serif;
    height: 36px;
    width: 66.666%;
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #1ba7d1;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 72px;
}


.submitButton {
    font-family: "Share Tech", sans-serif;
    height: 36px;
    width: 33.333%;
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #ababab;
    margin-left: auto;
    margin-right: auto;
}

.submitButton:hover {
    background-color: #ddd;

}

.submitButton:focus {
    background-color: #1ba7d1;
}

.mb-6 {
    padding-top: 12px;
    padding-bottom: 12px;
}



video {
    border: 2px solid #ccc;
    width: 100%;
    height: auto;
}




.invalid-feedback,
.empty-feedback {
    display: none;
}

.was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
}

.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
}

.is-invalid,
.was-validated :invalid {
    border-color: #dc3545;
}


.overlay {
    position: absolute;
    top: 0;
    left: 25%; /* Start at 25% width */
    width: 50%; /* Cover middle 50% */
    height: 100vw;
    background: #1c261a;
}
